#header {
  height: 70px;
  border-bottom: 1px solid #f4f5f5;
}

h4 {
  margin-top: 0;
  padding-right: 10px;
}

p {
  font-size: 14px;
  margin: 0;
  margin-bottom: 10px;
  color: lightgray;
}

ul {
  padding: 0;
}

.logo {
  width: 180px;
  height: 50px;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
}

.resto {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  height: 300px;
  flex: 1 1 auto;
}

.resto-picture {
  width: 400px;
  height: 175px;
  border-radius: 5px;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 2 1;
  padding-right: 20px;
}

.items {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  flex-basis: 66%;
}

.bg-colored {
  background-color: #f4f5f5;
}

.card {
  width: 340px;
  height: 130px;
  background-color: white;
  display: flex;
  padding: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
}

.card-picture > img {
  height: 95px;
  width: 95px;
  object-fit: cover;
  border-radius: 4px;
}

.menu {
  flex: 2;
}

h3 {
  padding-top: 48px;
  padding-bottom: 16px;
}

.menu-container {
  display: flex;
  flex-wrap: wrap;
  margin-right: 10px;
}

.basket-component {
  display: flex;
  width: 300px;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 10px;
  border-radius: 4px;
}

li {
  list-style: none;
}
.validate {
  background-color: lightgray;
  width: 100%;
  height: 50px;
  border-radius: 4px;
  margin-bottom: 20px;
}
